<nav>
    <h1 class="logo"><a href="/"><span class="movie">Movie</span> <span class="base">Base</span></a>  </h1>
    
    <ul class="search-nav">
        <li class="nav-item">Genre List</li>
        <li  class="nav-item" id="watchlist">Watchlist</li>
        <li>
            <form action=<%=`/search `%> method="POST"><input type="text" id="kutu" name="search" placeholder=""></form>
            
        </li>
    </ul>
    
        </nav>